<div id="header">
    <h2>Game of Life</h2>
</div>
<div id="main">
  <div id="first">
    <center>
      <button type="button" class="start waves-effect waves-light btn">Start the Game of Life</button><br><br>
      <button type="button" class="falseStop waves-effect waves-light btn" id="stop">Stop</button>
      <br><br>
      <button type="reset" class="waves-effect waves-light btn" id="reset">Reset</button>

    </center>
  </div>

  <div id="second">
    <center>
    <table>
    </table>
  </center>
  </div>
</div>

