<div id="header">
    <h2>Game of Life</h2>
</div>
<div id="main">
  <div id="first">
    <center>
      <button type="button" class="start waves-effect waves-light btn">Start the Game of Life</button><br><br>
      <button type="button" class="falseStop waves-effect waves-light btn" id="stop">Stop</button>
      <br><br>
      <button type="reset" class="waves-effect waves-light btn" id="reset">Reset</button>
      <br>
      <br>
      <a class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Select Pattern</a>
      <ul id='dropdown1' class='dropdown-content'>
        <li class="block"><a href="#">Block</a></li>
        <li class="beehive"><a href="#">Beehive</a></li>
        <li class="loaf"><a href="#">Loaf</a></li>
        <li class="boat"><a href="#">Boat</a></li>
        <li class="blinker"><a href="#">Blinker</a></li>
        <li class="toad"><a href="#">Toad</a></li>
        <li class="beacon"><a href="#">Beacon</a></li>
        <li class="pulsar"><a href="#">Pulsar</a></li>
        <li class="pentadecathlon"><a href="#">Pentadecathlon</a></li>
        <li class="glider"><a href="#">Glider</a></li>
        <li class="spaceship"><a href="#">Spaceship</a></li>
      </ul>


    </center>
  </div>

  <div id="second">
    <center>
      <table>
      </table>
    </center>
  </div>

</div>

